
/* Big tablets to 1200px (widths smaller then 1140px row) */
@media only screen and (max-width: 1200px) {

    /* all row */
    .row {
        padding: 0 2%;
    }

    /* header */
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    /* headlings */
    h1 {
        font-size: 230%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 100%;
    }

    /* paragraph after h2 */
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    /* work-step section */
    .steps-box:last-child {
        margin-top: 60px;
    }

    .works-step {
        margin-bottom: 45px;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    /* contact section */
    .contact-form {
        width: 70%;
        margin: 0 auto;
    }

}

/* Small tablet to big tables: from 768px to 1023px */
@media only screen and (max-width: 1023px) {


    html {
        font-size: 18px;
    }

    section {
        padding: 60px 0px;
    }

    /* paragraph after h2 */
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    /* work-step section */
    .app-screen {
        width: 46%;
    }

    .steps-box:first-child {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 20px;
    }

    .works-step {
        margin-bottom: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 60px;
    }

    /* city section */
    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: 90%;
    }
    
    /* plan section */
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-box li {
        font-size: 90%;
    }

    .plan-price {
        font-size: 250%;
    }

    /* contact section */
    .contact-form {
        width: 80%;
        margin: 0 auto;
    }

    /* footer */
    .footer-nav li,
    .social-links li {
        margin-right: 15px;
    }

    .social-links a {
        font-size: 140%;
    }

}

/* Small phone to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* Small phone: from 0 to 480px */
@media only screen and (max-width: 480px) {

}


