/*=============================================
=            Section comment block            =
=============================================*/

/*----------  Subsection comment block  ----------*/

/*=====  End of Section comment block  ======*/


/*=============================================
=            resources comment block            =
=============================================*/

/* 
    main color: e67e22
    color 2 : cf6d17
*/

/*=====  End of resources comment block  ======*/



/*=============================================
=       Main Section comment block          =
=============================================*/

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*=====  End of main Section comment block  ======*/



/*=============================================
=       reusable Section comment block          =
=============================================*/

/*----------  all rows comment block  ----------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*----------  all button comment block  ----------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;

    /* css 3 animations */
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
} 


/*----------  full button comment block  ----------*/
.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 10px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
}


/*----------  ghost button comment block  ----------*/
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/*----------  section comment block  ----------*/
section {
    padding: 80px 0px;
}


/*----------  header comment block  ----------*/
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}


h2 {
    text-align: center;
    font-size: 240%;
    margin-bottom: 30px;
    word-spacing: 2px;
}

h2:after {
    background-color: #e67e22;
    height: 2px;
    content: "";
    display: block;
    width: 100px;
    margin:  0 auto;
    margin-top: 30px;
}



h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



/*----------  section paragraphs comment block  ----------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}


/*----------  section box comment block  ----------*/
.box {
    padding: 1%;
}




/*=====  End of reusable Section comment block  ======*/


/*=============================================
=       Header Section comment block          =
=============================================*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

h1 {
    font-size: 250%;
    font-weight: 300;
    color: #fff;
    /* lowercase to uppercase */
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}


/*=====  End of Header Section comment block  ======*/


/*=============================================
=       navbar Section comment block          =
=============================================*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 90%; /*18px/20*/
    text-transform: uppercase;
    padding: 8px 0;
    border: 1px solid transparent;

    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #e67e22;
}


/*=====  End of navbar Section comment block  ======*/




/*=============================================
=       feature Section comment block          =
=============================================*/

.section-meals {
    padding: 0;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

/*=====  End of feature Section comment block  ======*/



/*=============================================
=       meals Section comment block          =
=============================================*/

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
    height: 100%;
}

.meals-photo {
    width: 100%;
    margin: 0;
    height: 100%;

    background-color:  #000;
    overflow: hidden;
}

.meals-photo img {
    width: 100%;
    padding: 0;
    height: 100%;
    
    display: block;
    /*vertical-align: top;*/
    
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    
    opacity: 0.7;

    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: transform 0.5s, opacity 0.5s;
    -moz-transition: transform 0.5s, opacity 0.5s;
    -ms-transition: transform 0.5s, opacity 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
}

.meals-photo img:hover {

    opacity: 1;
    
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}



/*=====  End of meal Section comment block  ======*/


/*=============================================
=     work-step Section comment block        =
=============================================*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    padding-right: 3%;
    text-align: right;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    height: 55px;
    width: 55px;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    color: #e67e22;
    padding: 5px;
    float: left;
    margin-right: 25px;

    border: 2px solid #e67e22;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.works-step p {
    padding-top: 3px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}















/*=====  End of work-step Section comment block  ======*/















